{% extends "base.html" %}

{% block content %}

    <p> {{ searching }} </p>
    <div class="row">

        <div class="col-2">
            <div class="form-group">
                <h2><a href="/">Quality Bookstore</a></h2>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <!-- Search form -->
                <form class="form-inline d-flex justify-content-center md-form form-sm">
                    <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="searching">
                    <!-- <i class="fas fa-search" aria-hidden="true"></i> -->
                </form>
            </div>
        </div>

        <div class="col-2">
            <div class="form-group">
                <form method="post">
                <button id="submit" class="button btn btn-dark" name="submit_button" type="submit" value="SignIn">Sign In</button>
                </form>
            </div>
        </div>

        <div class="col-2">
                <div class="form-group">
                    <form method="post">
                    <button id="submit" class="button btn btn-dark" name="submit_button" type="submit" value="myCart">myCart</button>
                    </form>
                </div>
        </div>
    </div>

<div class="table-responsive">
        <form action="{{ url_for('cart') }}" method="post"> 
        <table id="roster" class="table">
            <thead>
                <th></th>
                <th>Name</th>
                <th>Category</th>
                <th>Number</th>
                <th>Price</th>
            </thead>
            <tbody class="table-light" scope="row"></tbody>
            <tbody>
                <style>
                    p{
                        text-align: center;
                    }
                </style>
                <p>
                    {{ liste }}
                </p>

                {% for s in liste %}
                <tr>
                    <td><input type="checkbox" name="check" value="edit"/></td>
                    <td>{{ s[0] }}</td>
                    <input type="hidden" name="buy" value="{{ s[0] }}" />
                    <td>{{ s[1] }}</td>
                    <td>{{ s[2] }}</td>
                    <td>{{ s[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </form>
</div>

<div class="row">
    <div class="col">
            <div class="form-group">
                <form method="post">
                <button id="submit" class="button btn btn-dark" name="submit_button" type="buy" value="buyItem">Buy</button>
                </form>
            </div>
        </div>
        <div class="col">
                <div class="form-group">
                    <form method="post">
                    <button id="submit" class="button btn btn-dark" name="submit_button" type="remove" value="remove">Remove</button>
                    </form>
                </div>
        </div>
        <div class="col">
                <div class="form-group">
                    <form method="post">
                    <button id="submit" class="button btn btn-dark" name="submit_button" type="removeAll" value="removeAll">Remove All</button>
                    </form>
                </div>
        </div>
</div>

<style>
p {
    text-align: center
}
</style>

<p>{{ value }}</p>

{% endblock %}
